<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="manifest" href="/site.webmanifest">

  
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Cinzel&family=Cormorant+Garamond&display=swap" rel="stylesheet">

  <!-- Particles.js -->
  <script src="https://cdn.jsdelivr.net/npm/particles.js"></script>
  
  <script src="https://keepandroidopen.org/banner.js"></script>

  <link rel="stylesheet" href="/assets/css/style.css">

  <style>
    /* Floating dust background */
    #particles-js {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
    }
    
    #banner-js {
      position: fixed;
      top: 1;
      left: 0;
      width: 100%;
      height: 1%;
      z-index: 0;
      pointer-events: none;
    }

    body {
      position: relative;
      z-index: 1;
    }
  </style>
</head>

<body>

  <!-- Dust layer -->
  <div id="particles-js"></div>

  <!-- Page content -->
  {{ content }}

  <!-- Particle settings -->
  <script>
    particlesJS("particles-js", {
      particles: {
        number: {
          value: 70
        },
        size: {
          value: 2
        },
        move: {
          speed: 0.3,
          direction: "top",
          random: true,
          out_mode: "out"
        },
        opacity: {
          value: 0.3,
          random: true
        },
        color: {
          value: ["#4da6ff", "#ff944d", "#ffffff"]
        },
        line_linked: {
          enable: false
        }
      },
      interactivity: {
        events: {
          onhover: {
            enable: false
          }
        }
      },
      retina_detect: true
    });
  </script>

</body>
</html>
